org: jorgemelgarejo
service: api-rockie

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  role: arn:aws:iam::232690452415:role/LabRole
  stage: ${opt:stage, 'dev'}

package:
  individually: true

functions:
  CreateRockie:
    handler: Lambda_CreateRockie.lambda_handler
    memorySize: 512
    timeout: 30
    environment:
      VALIDATE_FUNCTION_NAME: ${self:custom.validateTokenFunction}
      STAGE: ${self:provider.stage}
    events:
      - http:
          path: rockie
          method: post
          integration: lambda
          request:
            template:
              application/json: |
                {
                  "method": "$context.httpMethod",
                  "path": "$context.path",
                  "headers": {
                    "Authorization": "$input.params('Authorization')"
                  },
                  "body": $input.body
                }

  GetRockie:
    handler: Lambda_Get_Rockie.lambda_handler
    memorySize: 512
    timeout: 30
    environment:
      VALIDATE_FUNCTION_NAME: ${self:custom.validateTokenFunction}
      STAGE: ${self:provider.stage}
    events:
      - http:
          path: rockie
          method: get
          integration: lambda
          request:
            template:
              application/json: |
                {
                  "method": "$context.httpMethod",
                  "path": "$context.path",
                  "headers": {
                    "Authorization": "$input.params('Authorization')"
                  }
                }

  UpdateRockie:
    handler: Lambda_Update_Rockie.lambda_handler
    memorySize: 512
    timeout: 30
    environment:
      VALIDATE_FUNCTION_NAME: ${self:custom.validateTokenFunction}
      STAGE: ${self:provider.stage}
    events:
      - http:
          path: rockie
          method: put
          integration: lambda
          request:
            template:
              application/json: |
                {
                  "method": "$context.httpMethod",
                  "path": "$context.path",
                  "headers": {
                    "Authorization": "$input.params('Authorization')"
                  },
                  "body": $input.body
                }

  DeleteRockie:
    handler: Lambda_Delete_Rockie.lambda_handler
    memorySize: 512
    timeout: 30
    environment:
      VALIDATE_FUNCTION_NAME: ${self:custom.validateTokenFunction}
      STAGE: ${self:provider.stage}
    events:
      - http:
          path: rockie
          method: delete
          integration: lambda
          request:
            template:
              application/json: |
                {
                  "method": "$context.httpMethod",
                  "path": "$context.path",
                  "headers": {
                    "Authorization": "$input.params('Authorization')"
                  }
                }

custom:
  validateTokenFunction: api-security-${self:provider.stage}-ValidateAccessToken
